<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, title, currency, amount, period, list, btnText
+corePricing01({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'feature'</span></div></div>
//- Args: icon, title, currency, amount, period, list, btnText
+corePricing01({
	modifier: 'feature'
})
