<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: img, popup, icon
+coreVideopopup({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'sm'</span></div></div>
//- Args: img, popup, icon
+coreVideopopup({
	modifier: 'sm'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'ratio-4by3'</span></div></div>
//- Args: img, popup, icon
+coreVideopopup({
	modifier: 'ratio-4by3'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'round'</span></div></div>
//- Args: img, popup, icon
+coreVideopopup({
	modifier: 'round'
})
