@font-face {
  font-family: 'Material-Icons';
  src:
    url('fonts/Material-Icons.ttf?bgeeaq') format('truetype'),
    url('fonts/Material-Icons.woff?bgeeaq') format('woff'),
    url('fonts/Material-Icons.svg?bgeeaq#Material-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="m-"], [class*=" m-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Material-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-3d_rotation:before {
  content: "\e84d";
}
.m-ac_unit:before {
  content: "\eb3b";
}
.m-alarm:before {
  content: "\e855";
}
.m-access_alarms:before {
  content: "\e191";
}
.m-schedule:before {
  content: "\e8b5";
}
.m-accessibility:before {
  content: "\e84e";
}
.m-accessible:before {
  content: "\e914";
}
.m-account_balance:before {
  content: "\e84f";
}
.m-account_balance_wallet:before {
  content: "\e850";
}
.m-account_box:before {
  content: "\e851";
}
.m-account_circle:before {
  content: "\e853";
}
.m-adb:before {
  content: "\e60e";
}
.m-add:before {
  content: "\e145";
}
.m-add_a_photo:before {
  content: "\e439";
}
.m-alarm_add:before {
  content: "\e856";
}
.m-add_alert:before {
  content: "\e003";
}
.m-add_box:before {
  content: "\e146";
}
.m-add_circle:before {
  content: "\e147";
}
.m-control_point:before {
  content: "\e3ba";
}
.m-add_location:before {
  content: "\e567";
}
.m-add_shopping_cart:before {
  content: "\e854";
}
.m-queue:before {
  content: "\e03c";
}
.m-add_to_queue:before {
  content: "\e05c";
}
.m-adjust:before {
  content: "\e39e";
}
.m-airline_seat_flat:before {
  content: "\e630";
}
.m-airline_seat_flat_angled:before {
  content: "\e631";
}
.m-airline_seat_individual_suite:before {
  content: "\e632";
}
.m-airline_seat_legroom_extra:before {
  content: "\e633";
}
.m-airline_seat_legroom_normal:before {
  content: "\e634";
}
.m-airline_seat_legroom_reduced:before {
  content: "\e635";
}
.m-airline_seat_recline_extra:before {
  content: "\e636";
}
.m-airline_seat_recline_normal:before {
  content: "\e637";
}
.m-flight:before {
  content: "\e539";
}
.m-airplanemode_inactive:before {
  content: "\e194";
}
.m-airplay:before {
  content: "\e055";
}
.m-airport_shuttle:before {
  content: "\eb3c";
}
.m-alarm_off:before {
  content: "\e857";
}
.m-alarm_on:before {
  content: "\e858";
}
.m-album:before {
  content: "\e019";
}
.m-all_inclusive:before {
  content: "\eb3d";
}
.m-all_out:before {
  content: "\e90b";
}
.m-android:before {
  content: "\e859";
}
.m-announcement:before {
  content: "\e85a";
}
.m-apps:before {
  content: "\e5c3";
}
.m-archive:before {
  content: "\e149";
}
.m-arrow_back:before {
  content: "\e5c4";
}
.m-arrow_downward:before {
  content: "\e5db";
}
.m-arrow_drop_down:before {
  content: "\e5c5";
}
.m-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.m-arrow_drop_up:before {
  content: "\e5c7";
}
.m-arrow_forward:before {
  content: "\e5c8";
}
.m-arrow_upward:before {
  content: "\e5d8";
}
.m-art_track:before {
  content: "\e060";
}
.m-aspect_ratio:before {
  content: "\e85b";
}
.m-poll:before {
  content: "\e801";
}
.m-assignment:before {
  content: "\e85d";
}
.m-assignment_ind:before {
  content: "\e85e";
}
.m-assignment_late:before {
  content: "\e85f";
}
.m-assignment_return:before {
  content: "\e860";
}
.m-assignment_returned:before {
  content: "\e861";
}
.m-assignment_turned_in:before {
  content: "\e862";
}
.m-assistant:before {
  content: "\e39f";
}
.m-flag:before {
  content: "\e153";
}
.m-attach_file:before {
  content: "\e226";
}
.m-attach_money:before {
  content: "\e227";
}
.m-attachment:before {
  content: "\e2bc";
}
.m-audiotrack:before {
  content: "\e3a1";
}
.m-autorenew:before {
  content: "\e863";
}
.m-av_timer:before {
  content: "\e01b";
}
.m-backspace:before {
  content: "\e14a";
}
.m-cloud_upload:before {
  content: "\e2c3";
}
.m-battery_alert:before {
  content: "\e19c";
}
.m-battery_charging_full:before {
  content: "\e1a3";
}
.m-battery_std:before {
  content: "\e1a5";
}
.m-battery_unknown:before {
  content: "\e1a6";
}
.m-beach_access:before {
  content: "\eb3e";
}
.m-beenhere:before {
  content: "\e52d";
}
.m-block:before {
  content: "\e14b";
}
.m-bluetooth:before {
  content: "\e1a7";
}
.m-bluetooth_searching:before {
  content: "\e1aa";
}
.m-bluetooth_connected:before {
  content: "\e1a8";
}
.m-bluetooth_disabled:before {
  content: "\e1a9";
}
.m-blur_circular:before {
  content: "\e3a2";
}
.m-blur_linear:before {
  content: "\e3a3";
}
.m-blur_off:before {
  content: "\e3a4";
}
.m-blur_on:before {
  content: "\e3a5";
}
.m-class:before {
  content: "\e86e";
}
.m-turned_in:before {
  content: "\e8e6";
}
.m-turned_in_not:before {
  content: "\e8e7";
}
.m-border_all:before {
  content: "\e228";
}
.m-border_bottom:before {
  content: "\e229";
}
.m-border_clear:before {
  content: "\e22a";
}
.m-border_color:before {
  content: "\e22b";
}
.m-border_horizontal:before {
  content: "\e22c";
}
.m-border_inner:before {
  content: "\e22d";
}
.m-border_left:before {
  content: "\e22e";
}
.m-border_outer:before {
  content: "\e22f";
}
.m-border_right:before {
  content: "\e230";
}
.m-border_style:before {
  content: "\e231";
}
.m-border_top:before {
  content: "\e232";
}
.m-border_vertical:before {
  content: "\e233";
}
.m-branding_watermark:before {
  content: "\e06b";
}
.m-brightness_1:before {
  content: "\e3a6";
}
.m-brightness_2:before {
  content: "\e3a7";
}
.m-brightness_3:before {
  content: "\e3a8";
}
.m-brightness_4:before {
  content: "\e3a9";
}
.m-brightness_low:before {
  content: "\e1ad";
}
.m-brightness_medium:before {
  content: "\e1ae";
}
.m-brightness_high:before {
  content: "\e1ac";
}
.m-brightness_auto:before {
  content: "\e1ab";
}
.m-broken_image:before {
  content: "\e3ad";
}
.m-brush:before {
  content: "\e3ae";
}
.m-bubble_chart:before {
  content: "\e6dd";
}
.m-bug_report:before {
  content: "\e868";
}
.m-build:before {
  content: "\e869";
}
.m-burst_mode:before {
  content: "\e43c";
}
.m-domain:before {
  content: "\e7ee";
}
.m-business_center:before {
  content: "\eb3f";
}
.m-cached:before {
  content: "\e86a";
}
.m-cake:before {
  content: "\e7e9";
}
.m-phone:before {
  content: "\e0cd";
}
.m-call_end:before {
  content: "\e0b1";
}
.m-call_made:before {
  content: "\e0b2";
}
.m-merge_type:before {
  content: "\e252";
}
.m-call_missed:before {
  content: "\e0b4";
}
.m-call_missed_outgoing:before {
  content: "\e0e4";
}
.m-call_received:before {
  content: "\e0b5";
}
.m-call_split:before {
  content: "\e0b6";
}
.m-call_to_action:before {
  content: "\e06c";
}
.m-camera:before {
  content: "\e3af";
}
.m-photo_camera:before {
  content: "\e412";
}
.m-camera_enhance:before {
  content: "\e8fc";
}
.m-camera_front:before {
  content: "\e3b1";
}
.m-camera_rear:before {
  content: "\e3b2";
}
.m-camera_roll:before {
  content: "\e3b3";
}
.m-cancel:before {
  content: "\e5c9";
}
.m-redeem:before {
  content: "\e8b1";
}
.m-card_membership:before {
  content: "\e8f7";
}
.m-card_travel:before {
  content: "\e8f8";
}
.m-casino:before {
  content: "\eb40";
}
.m-cast:before {
  content: "\e307";
}
.m-cast_connected:before {
  content: "\e308";
}
.m-center_focus_strong:before {
  content: "\e3b4";
}
.m-center_focus_weak:before {
  content: "\e3b5";
}
.m-change_history:before {
  content: "\e86b";
}
.m-chat:before {
  content: "\e0b7";
}
.m-chat_bubble:before {
  content: "\e0ca";
}
.m-chat_bubble_outline:before {
  content: "\e0cb";
}
.m-check:before {
  content: "\e5ca";
}
.m-check_box:before {
  content: "\e834";
}
.m-check_box_outline_blank:before {
  content: "\e835";
}
.m-check_circle:before {
  content: "\e86c";
}
.m-navigate_before:before {
  content: "\e408";
}
.m-navigate_next:before {
  content: "\e409";
}
.m-child_care:before {
  content: "\eb41";
}
.m-child_friendly:before {
  content: "\eb42";
}
.m-chrome_reader_mode:before {
  content: "\e86d";
}
.m-close:before {
  content: "\e5cd";
}
.m-clear_all:before {
  content: "\e0b8";
}
.m-closed_caption:before {
  content: "\e01c";
}
.m-wb_cloudy:before {
  content: "\e42d";
}
.m-cloud_circle:before {
  content: "\e2be";
}
.m-cloud_done:before {
  content: "\e2bf";
}
.m-cloud_download:before {
  content: "\e2c0";
}
.m-cloud_off:before {
  content: "\e2c1";
}
.m-cloud_queue:before {
  content: "\e2c2";
}
.m-code:before {
  content: "\e86f";
}
.m-photo_library:before {
  content: "\e413";
}
.m-collections_bookmark:before {
  content: "\e431";
}
.m-palette:before {
  content: "\e40a";
}
.m-colorize:before {
  content: "\e3b8";
}
.m-comment:before {
  content: "\e0b9";
}
.m-compare:before {
  content: "\e3b9";
}
.m-compare_arrows:before {
  content: "\e915";
}
.m-laptop:before {
  content: "\e31e";
}
.m-confirmation_number:before {
  content: "\e638";
}
.m-contact_mail:before {
  content: "\e0d0";
}
.m-contact_phone:before {
  content: "\e0cf";
}
.m-contacts:before {
  content: "\e0ba";
}
.m-content_copy:before {
  content: "\e14d";
}
.m-content_cut:before {
  content: "\e14e";
}
.m-content_paste:before {
  content: "\e14f";
}
.m-control_point_duplicate:before {
  content: "\e3bb";
}
.m-copyright:before {
  content: "\e90c";
}
.m-mode_edit:before {
  content: "\e254";
}
.m-create_new_folder:before {
  content: "\e2cc";
}
.m-payment:before {
  content: "\e8a1";
}
.m-crop:before {
  content: "\e3be";
}
.m-crop_16_9:before {
  content: "\e3bc";
}
.m-crop_3_2:before {
  content: "\e3bd";
}
.m-crop_landscape:before {
  content: "\e3c3";
}
.m-crop_7_5:before {
  content: "\e3c0";
}
.m-crop_din:before {
  content: "\e3c1";
}
.m-crop_free:before {
  content: "\e3c2";
}
.m-crop_original:before {
  content: "\e3c4";
}
.m-crop_portrait:before {
  content: "\e3c5";
}
.m-crop_rotate:before {
  content: "\e437";
}
.m-crop_square:before {
  content: "\e3c6";
}
.m-dashboard:before {
  content: "\e871";
}
.m-data_usage:before {
  content: "\e1af";
}
.m-date_range:before {
  content: "\e916";
}
.m-dehaze:before {
  content: "\e3c7";
}
.m-delete:before {
  content: "\e872";
}
.m-delete_forever:before {
  content: "\e92b";
}
.m-delete_sweep:before {
  content: "\e16c";
}
.m-description:before {
  content: "\e873";
}
.m-desktop_mac:before {
  content: "\e30b";
}
.m-desktop_windows:before {
  content: "\e30c";
}
.m-details:before {
  content: "\e3c8";
}
.m-developer_board:before {
  content: "\e30d";
}
.m-developer_mode:before {
  content: "\e1b0";
}
.m-device_hub:before {
  content: "\e335";
}
.m-phonelink:before {
  content: "\e326";
}
.m-devices_other:before {
  content: "\e337";
}
.m-dialer_sip:before {
  content: "\e0bb";
}
.m-dialpad:before {
  content: "\e0bc";
}
.m-directions:before {
  content: "\e52e";
}
.m-directions_bike:before {
  content: "\e52f";
}
.m-directions_boat:before {
  content: "\e532";
}
.m-directions_bus:before {
  content: "\e530";
}
.m-directions_car:before {
  content: "\e531";
}
.m-directions_railway:before {
  content: "\e534";
}
.m-directions_run:before {
  content: "\e566";
}
.m-directions_transit:before {
  content: "\e535";
}
.m-directions_walk:before {
  content: "\e536";
}
.m-disc_full:before {
  content: "\e610";
}
.m-dns:before {
  content: "\e875";
}
.m-not_interested:before {
  content: "\e033";
}
.m-do_not_disturb_alt:before {
  content: "\e611";
}
.m-do_not_disturb_off:before {
  content: "\e643";
}
.m-remove_circle:before {
  content: "\e15c";
}
.m-dock:before {
  content: "\e30e";
}
.m-done:before {
  content: "\e876";
}
.m-done_all:before {
  content: "\e877";
}
.m-donut_large:before {
  content: "\e917";
}
.m-donut_small:before {
  content: "\e918";
}
.m-drafts:before {
  content: "\e151";
}
.m-drag_handle:before {
  content: "\e25d";
}
.m-time_to_leave:before {
  content: "\e62c";
}
.m-dvr:before {
  content: "\e1b2";
}
.m-edit_location:before {
  content: "\e568";
}
.m-eject:before {
  content: "\e8fb";
}
.m-markunread:before {
  content: "\e159";
}
.m-enhanced_encryption:before {
  content: "\e63f";
}
.m-equalizer:before {
  content: "\e01d";
}
.m-error:before {
  content: "\e000";
}
.m-error_outline:before {
  content: "\e001";
}
.m-euro_symbol:before {
  content: "\e926";
}
.m-ev_station:before {
  content: "\e56d";
}
.m-insert_invitation:before {
  content: "\e24f";
}
.m-event_available:before {
  content: "\e614";
}
.m-event_busy:before {
  content: "\e615";
}
.m-event_note:before {
  content: "\e616";
}
.m-event_seat:before {
  content: "\e903";
}
.m-exit_to_app:before {
  content: "\e879";
}
.m-expand_less:before {
  content: "\e5ce";
}
.m-expand_more:before {
  content: "\e5cf";
}
.m-explicit:before {
  content: "\e01e";
}
.m-explore:before {
  content: "\e87a";
}
.m-exposure:before {
  content: "\e3ca";
}
.m-exposure_neg_1:before {
  content: "\e3cb";
}
.m-exposure_neg_2:before {
  content: "\e3cc";
}
.m-exposure_plus_1:before {
  content: "\e3cd";
}
.m-exposure_plus_2:before {
  content: "\e3ce";
}
.m-exposure_zero:before {
  content: "\e3cf";
}
.m-extension:before {
  content: "\e87b";
}
.m-face:before {
  content: "\e87c";
}
.m-fast_forward:before {
  content: "\e01f";
}
.m-fast_rewind:before {
  content: "\e020";
}
.m-favorite:before {
  content: "\e87d";
}
.m-favorite_border:before {
  content: "\e87e";
}
.m-featured_play_list:before {
  content: "\e06d";
}
.m-featured_video:before {
  content: "\e06e";
}
.m-sms_failed:before {
  content: "\e626";
}
.m-fiber_dvr:before {
  content: "\e05d";
}
.m-fiber_manual_record:before {
  content: "\e061";
}
.m-fiber_new:before {
  content: "\e05e";
}
.m-fiber_pin:before {
  content: "\e06a";
}
.m-fiber_smart_record:before {
  content: "\e062";
}
.m-get_app:before {
  content: "\e884";
}
.m-file_upload:before {
  content: "\e2c6";
}
.m-filter:before {
  content: "\e3d3";
}
.m-filter_1:before {
  content: "\e3d0";
}
.m-filter_2:before {
  content: "\e3d1";
}
.m-filter_3:before {
  content: "\e3d2";
}
.m-filter_4:before {
  content: "\e3d4";
}
.m-filter_5:before {
  content: "\e3d5";
}
.m-filter_6:before {
  content: "\e3d6";
}
.m-filter_7:before {
  content: "\e3d7";
}
.m-filter_8:before {
  content: "\e3d8";
}
.m-filter_9:before {
  content: "\e3d9";
}
.m-filter_9_plus:before {
  content: "\e3da";
}
.m-filter_b_and_w:before {
  content: "\e3db";
}
.m-filter_center_focus:before {
  content: "\e3dc";
}
.m-filter_drama:before {
  content: "\e3dd";
}
.m-filter_frames:before {
  content: "\e3de";
}
.m-terrain:before {
  content: "\e564";
}
.m-filter_list:before {
  content: "\e152";
}
.m-filter_none:before {
  content: "\e3e0";
}
.m-filter_tilt_shift:before {
  content: "\e3e2";
}
.m-filter_vintage:before {
  content: "\e3e3";
}
.m-find_in_page:before {
  content: "\e880";
}
.m-find_replace:before {
  content: "\e881";
}
.m-fingerprint:before {
  content: "\e90d";
}
.m-first_page:before {
  content: "\e5dc";
}
.m-fitness_center:before {
  content: "\eb43";
}
.m-flare:before {
  content: "\e3e4";
}
.m-flash_auto:before {
  content: "\e3e5";
}
.m-flash_off:before {
  content: "\e3e6";
}
.m-flash_on:before {
  content: "\e3e7";
}
.m-flight_land:before {
  content: "\e904";
}
.m-flight_takeoff:before {
  content: "\e905";
}
.m-flip:before {
  content: "\e3e8";
}
.m-flip_to_back:before {
  content: "\e882";
}
.m-flip_to_front:before {
  content: "\e883";
}
.m-folder:before {
  content: "\e2c7";
}
.m-folder_open:before {
  content: "\e2c8";
}
.m-folder_shared:before {
  content: "\e2c9";
}
.m-folder_special:before {
  content: "\e617";
}
.m-font_download:before {
  content: "\e167";
}
.m-format_align_center:before {
  content: "\e234";
}
.m-format_align_justify:before {
  content: "\e235";
}
.m-format_align_left:before {
  content: "\e236";
}
.m-format_align_right:before {
  content: "\e237";
}
.m-format_bold:before {
  content: "\e238";
}
.m-format_clear:before {
  content: "\e239";
}
.m-format_color_fill:before {
  content: "\e23a";
}
.m-format_color_reset:before {
  content: "\e23b";
}
.m-format_color_text:before {
  content: "\e23c";
}
.m-format_indent_decrease:before {
  content: "\e23d";
}
.m-format_indent_increase:before {
  content: "\e23e";
}
.m-format_italic:before {
  content: "\e23f";
}
.m-format_line_spacing:before {
  content: "\e240";
}
.m-format_list_bulleted:before {
  content: "\e241";
}
.m-format_list_numbered:before {
  content: "\e242";
}
.m-format_paint:before {
  content: "\e243";
}
.m-format_quote:before {
  content: "\e244";
}
.m-format_shapes:before {
  content: "\e25e";
}
.m-format_size:before {
  content: "\e245";
}
.m-format_strikethrough:before {
  content: "\e246";
}
.m-format_textdirection_l_to_r:before {
  content: "\e247";
}
.m-format_textdirection_r_to_l:before {
  content: "\e248";
}
.m-format_underlined:before {
  content: "\e249";
}
.m-question_answer:before {
  content: "\e8af";
}
.m-forward:before {
  content: "\e154";
}
.m-forward_10:before {
  content: "\e056";
}
.m-forward_30:before {
  content: "\e057";
}
.m-forward_5:before {
  content: "\e058";
}
.m-free_breakfast:before {
  content: "\eb44";
}
.m-fullscreen:before {
  content: "\e5d0";
}
.m-fullscreen_exit:before {
  content: "\e5d1";
}
.m-functions:before {
  content: "\e24a";
}
.m-g_translate:before {
  content: "\e927";
}
.m-games:before {
  content: "\e021";
}
.m-gavel:before {
  content: "\e90e";
}
.m-gesture:before {
  content: "\e155";
}
.m-gif:before {
  content: "\e908";
}
.m-goat:before {
  content: "\e900";
}
.m-golf_course:before {
  content: "\eb45";
}
.m-my_location:before {
  content: "\e55c";
}
.m-location_searching:before {
  content: "\e1b7";
}
.m-location_disabled:before {
  content: "\e1b6";
}
.m-star:before {
  content: "\e838";
}
.m-gradient:before {
  content: "\e3e9";
}
.m-grain:before {
  content: "\e3ea";
}
.m-graphic_eq:before {
  content: "\e1b8";
}
.m-grid_off:before {
  content: "\e3eb";
}
.m-grid_on:before {
  content: "\e3ec";
}
.m-people:before {
  content: "\e7fb";
}
.m-group_add:before {
  content: "\e7f0";
}
.m-group_work:before {
  content: "\e886";
}
.m-hd:before {
  content: "\e052";
}
.m-hdr_off:before {
  content: "\e3ed";
}
.m-hdr_on:before {
  content: "\e3ee";
}
.m-hdr_strong:before {
  content: "\e3f1";
}
.m-hdr_weak:before {
  content: "\e3f2";
}
.m-headset:before {
  content: "\e310";
}
.m-headset_mic:before {
  content: "\e311";
}
.m-healing:before {
  content: "\e3f3";
}
.m-hearing:before {
  content: "\e023";
}
.m-help:before {
  content: "\e887";
}
.m-help_outline:before {
  content: "\e8fd";
}
.m-high_quality:before {
  content: "\e024";
}
.m-highlight:before {
  content: "\e25f";
}
.m-highlight_off:before {
  content: "\e888";
}
.m-restore:before {
  content: "\e8b3";
}
.m-home:before {
  content: "\e88a";
}
.m-hot_tub:before {
  content: "\eb46";
}
.m-local_hotel:before {
  content: "\e549";
}
.m-hourglass_empty:before {
  content: "\e88b";
}
.m-hourglass_full:before {
  content: "\e88c";
}
.m-http:before {
  content: "\e902";
}
.m-lock:before {
  content: "\e897";
}
.m-photo:before {
  content: "\e410";
}
.m-image_aspect_ratio:before {
  content: "\e3f5";
}
.m-import_contacts:before {
  content: "\e0e0";
}
.m-import_export:before {
  content: "\e0c3";
}
.m-important_devices:before {
  content: "\e912";
}
.m-inbox:before {
  content: "\e156";
}
.m-indeterminate_check_box:before {
  content: "\e909";
}
.m-info:before {
  content: "\e88e";
}
.m-info_outline:before {
  content: "\e88f";
}
.m-input:before {
  content: "\e890";
}
.m-insert_comment:before {
  content: "\e24c";
}
.m-insert_drive_file:before {
  content: "\e24d";
}
.m-tag_faces:before {
  content: "\e420";
}
.m-link:before {
  content: "\e157";
}
.m-invert_colors:before {
  content: "\e891";
}
.m-invert_colors_off:before {
  content: "\e0c4";
}
.m-iso:before {
  content: "\e3f6";
}
.m-keyboard:before {
  content: "\e312";
}
.m-keyboard_arrow_down:before {
  content: "\e313";
}
.m-keyboard_arrow_left:before {
  content: "\e314";
}
.m-keyboard_arrow_right:before {
  content: "\e315";
}
.m-keyboard_arrow_up:before {
  content: "\e316";
}
.m-keyboard_backspace:before {
  content: "\e317";
}
.m-keyboard_capslock:before {
  content: "\e318";
}
.m-keyboard_hide:before {
  content: "\e31a";
}
.m-keyboard_return:before {
  content: "\e31b";
}
.m-keyboard_tab:before {
  content: "\e31c";
}
.m-keyboard_voice:before {
  content: "\e31d";
}
.m-kitchen:before {
  content: "\eb47";
}
.m-label:before {
  content: "\e892";
}
.m-label_outline:before {
  content: "\e893";
}
.m-language:before {
  content: "\e894";
}
.m-laptop_chromebook:before {
  content: "\e31f";
}
.m-laptop_mac:before {
  content: "\e320";
}
.m-laptop_windows:before {
  content: "\e321";
}
.m-last_page:before {
  content: "\e5dd";
}
.m-open_in_new:before {
  content: "\e89e";
}
.m-layers:before {
  content: "\e53b";
}
.m-layers_clear:before {
  content: "\e53c";
}
.m-leak_add:before {
  content: "\e3f8";
}
.m-leak_remove:before {
  content: "\e3f9";
}
.m-lens:before {
  content: "\e3fa";
}
.m-library_books:before {
  content: "\e02f";
}
.m-library_music:before {
  content: "\e030";
}
.m-lightbulb_outline:before {
  content: "\e90f";
}
.m-line_style:before {
  content: "\e919";
}
.m-line_weight:before {
  content: "\e91a";
}
.m-linear_scale:before {
  content: "\e260";
}
.m-linked_camera:before {
  content: "\e438";
}
.m-list:before {
  content: "\e896";
}
.m-live_help:before {
  content: "\e0c6";
}
.m-live_tv:before {
  content: "\e639";
}
.m-local_play:before {
  content: "\e553";
}
.m-local_airport:before {
  content: "\e53d";
}
.m-local_atm:before {
  content: "\e53e";
}
.m-local_bar:before {
  content: "\e540";
}
.m-local_cafe:before {
  content: "\e541";
}
.m-local_car_wash:before {
  content: "\e542";
}
.m-local_convenience_store:before {
  content: "\e543";
}
.m-restaurant_menu:before {
  content: "\e561";
}
.m-local_drink:before {
  content: "\e544";
}
.m-local_florist:before {
  content: "\e545";
}
.m-local_gas_station:before {
  content: "\e546";
}
.m-shopping_cart:before {
  content: "\e8cc";
}
.m-local_hospital:before {
  content: "\e548";
}
.m-local_laundry_service:before {
  content: "\e54a";
}
.m-local_library:before {
  content: "\e54b";
}
.m-local_mall:before {
  content: "\e54c";
}
.m-theaters:before {
  content: "\e8da";
}
.m-local_offer:before {
  content: "\e54e";
}
.m-local_parking:before {
  content: "\e54f";
}
.m-local_pharmacy:before {
  content: "\e550";
}
.m-local_pizza:before {
  content: "\e552";
}
.m-print:before {
  content: "\e8ad";
}
.m-local_shipping:before {
  content: "\e558";
}
.m-local_taxi:before {
  content: "\e559";
}
.m-location_city:before {
  content: "\e7f1";
}
.m-location_off:before {
  content: "\e0c7";
}
.m-room:before {
  content: "\e8b4";
}
.m-lock_open:before {
  content: "\e898";
}
.m-lock_outline:before {
  content: "\e899";
}
.m-looks:before {
  content: "\e3fc";
}
.m-looks_3:before {
  content: "\e3fb";
}
.m-looks_4:before {
  content: "\e3fd";
}
.m-looks_5:before {
  content: "\e3fe";
}
.m-looks_6:before {
  content: "\e3ff";
}
.m-looks_one:before {
  content: "\e400";
}
.m-looks_two:before {
  content: "\e401";
}
.m-sync:before {
  content: "\e627";
}
.m-loupe:before {
  content: "\e402";
}
.m-low_priority:before {
  content: "\e16d";
}
.m-loyalty:before {
  content: "\e89a";
}
.m-mail_outline:before {
  content: "\e0e1";
}
.m-map:before {
  content: "\e55b";
}
.m-markunread_mailbox:before {
  content: "\e89b";
}
.m-memory:before {
  content: "\e322";
}
.m-menu:before {
  content: "\e5d2";
}
.m-message:before {
  content: "\e0c9";
}
.m-mic:before {
  content: "\e029";
}
.m-mic_none:before {
  content: "\e02a";
}
.m-mic_off:before {
  content: "\e02b";
}
.m-mms:before {
  content: "\e618";
}
.m-mode_comment:before {
  content: "\e253";
}
.m-monetization_on:before {
  content: "\e263";
}
.m-money_off:before {
  content: "\e25c";
}
.m-monochrome_photos:before {
  content: "\e403";
}
.m-mood_bad:before {
  content: "\e7f3";
}
.m-more:before {
  content: "\e619";
}
.m-more_horiz:before {
  content: "\e5d3";
}
.m-more_vert:before {
  content: "\e5d4";
}
.m-motorcycle:before {
  content: "\e91b";
}
.m-mouse:before {
  content: "\e323";
}
.m-move_to_inbox:before {
  content: "\e168";
}
.m-movie_creation:before {
  content: "\e404";
}
.m-movie_filter:before {
  content: "\e43a";
}
.m-multiline_chart:before {
  content: "\e6df";
}
.m-music_note:before {
  content: "\e405";
}
.m-music_video:before {
  content: "\e063";
}
.m-nature:before {
  content: "\e406";
}
.m-nature_people:before {
  content: "\e407";
}
.m-navigation:before {
  content: "\e55d";
}
.m-near_me:before {
  content: "\e569";
}
.m-network_cell:before {
  content: "\e1b9";
}
.m-network_check:before {
  content: "\e640";
}
.m-network_locked:before {
  content: "\e61a";
}
.m-network_wifi:before {
  content: "\e1ba";
}
.m-new_releases:before {
  content: "\e031";
}
.m-next_week:before {
  content: "\e16a";
}
.m-nfc:before {
  content: "\e1bb";
}
.m-no_encryption:before {
  content: "\e641";
}
.m-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.m-note:before {
  content: "\e06f";
}
.m-note_add:before {
  content: "\e89c";
}
.m-notifications:before {
  content: "\e7f4";
}
.m-notifications_active:before {
  content: "\e7f7";
}
.m-notifications_none:before {
  content: "\e7f5";
}
.m-notifications_off:before {
  content: "\e7f6";
}
.m-notifications_paused:before {
  content: "\e7f8";
}
.m-offline_pin:before {
  content: "\e90a";
}
.m-ondemand_video:before {
  content: "\e63a";
}
.m-opacity:before {
  content: "\e91c";
}
.m-open_in_browser:before {
  content: "\e89d";
}
.m-open_with:before {
  content: "\e89f";
}
.m-pages:before {
  content: "\e7f9";
}
.m-pageview:before {
  content: "\e8a0";
}
.m-pan_tool:before {
  content: "\e925";
}
.m-panorama:before {
  content: "\e40b";
}
.m-radio_button_unchecked:before {
  content: "\e836";
}
.m-panorama_horizontal:before {
  content: "\e40d";
}
.m-panorama_vertical:before {
  content: "\e40e";
}
.m-panorama_wide_angle:before {
  content: "\e40f";
}
.m-party_mode:before {
  content: "\e7fa";
}
.m-pause:before {
  content: "\e034";
}
.m-pause_circle_filled:before {
  content: "\e035";
}
.m-pause_circle_outline:before {
  content: "\e036";
}
.m-people_outline:before {
  content: "\e7fc";
}
.m-perm_camera_mic:before {
  content: "\e8a2";
}
.m-perm_contact_calendar:before {
  content: "\e8a3";
}
.m-perm_data_setting:before {
  content: "\e8a4";
}
.m-perm_device_information:before {
  content: "\e8a5";
}
.m-person_outline:before {
  content: "\e7ff";
}
.m-perm_media:before {
  content: "\e8a7";
}
.m-perm_phone_msg:before {
  content: "\e8a8";
}
.m-perm_scan_wifi:before {
  content: "\e8a9";
}
.m-person:before {
  content: "\e7fd";
}
.m-person_add:before {
  content: "\e7fe";
}
.m-person_pin:before {
  content: "\e55a";
}
.m-person_pin_circle:before {
  content: "\e56a";
}
.m-personal_video:before {
  content: "\e63b";
}
.m-pets:before {
  content: "\e91d";
}
.m-phone_android:before {
  content: "\e324";
}
.m-phone_bluetooth_speaker:before {
  content: "\e61b";
}
.m-phone_forwarded:before {
  content: "\e61c";
}
.m-phone_in_talk:before {
  content: "\e61d";
}
.m-phone_iphone:before {
  content: "\e325";
}
.m-phone_locked:before {
  content: "\e61e";
}
.m-phone_missed:before {
  content: "\e61f";
}
.m-phone_paused:before {
  content: "\e620";
}
.m-phonelink_erase:before {
  content: "\e0db";
}
.m-phonelink_lock:before {
  content: "\e0dc";
}
.m-phonelink_off:before {
  content: "\e327";
}
.m-phonelink_ring:before {
  content: "\e0dd";
}
.m-phonelink_setup:before {
  content: "\e0de";
}
.m-photo_album:before {
  content: "\e411";
}
.m-photo_filter:before {
  content: "\e43b";
}
.m-photo_size_select_actual:before {
  content: "\e432";
}
.m-photo_size_select_large:before {
  content: "\e433";
}
.m-photo_size_select_small:before {
  content: "\e434";
}
.m-picture_as_pdf:before {
  content: "\e415";
}
.m-picture_in_picture:before {
  content: "\e8aa";
}
.m-picture_in_picture_alt:before {
  content: "\e911";
}
.m-pie_chart:before {
  content: "\e6c4";
}
.m-pie_chart_outlined:before {
  content: "\e6c5";
}
.m-pin_drop:before {
  content: "\e55e";
}
.m-play_arrow:before {
  content: "\e037";
}
.m-play_circle_filled:before {
  content: "\e038";
}
.m-play_circle_outline:before {
  content: "\e039";
}
.m-play_for_work:before {
  content: "\e906";
}
.m-playlist_add:before {
  content: "\e03b";
}
.m-playlist_add_check:before {
  content: "\e065";
}
.m-playlist_play:before {
  content: "\e05f";
}
.m-plus_one:before {
  content: "\e800";
}
.m-polymer:before {
  content: "\e8ab";
}
.m-pool:before {
  content: "\eb48";
}
.m-portable_wifi_off:before {
  content: "\e0ce";
}
.m-portrait:before {
  content: "\e416";
}
.m-power:before {
  content: "\e63c";
}
.m-power_input:before {
  content: "\e336";
}
.m-power_settings_new:before {
  content: "\e8ac";
}
.m-pregnant_woman:before {
  content: "\e91e";
}
.m-present_to_all:before {
  content: "\e0df";
}
.m-priority_high:before {
  content: "\e645";
}
.m-public:before {
  content: "\e80b";
}
.m-publish:before {
  content: "\e255";
}
.m-queue_music:before {
  content: "\e03d";
}
.m-queue_play_next:before {
  content: "\e066";
}
.m-radio:before {
  content: "\e03e";
}
.m-radio_button_checked:before {
  content: "\e837";
}
.m-rate_review:before {
  content: "\e560";
}
.m-receipt:before {
  content: "\e8b0";
}
.m-recent_actors:before {
  content: "\e03f";
}
.m-record_voice_over:before {
  content: "\e91f";
}
.m-redo:before {
  content: "\e15a";
}
.m-refresh:before {
  content: "\e5d5";
}
.m-remove:before {
  content: "\e15b";
}
.m-remove_circle_outline:before {
  content: "\e15d";
}
.m-remove_from_queue:before {
  content: "\e067";
}
.m-visibility:before {
  content: "\e8f4";
}
.m-remove_shopping_cart:before {
  content: "\e928";
}
.m-reorder:before {
  content: "\e8fe";
}
.m-repeat:before {
  content: "\e040";
}
.m-repeat_one:before {
  content: "\e041";
}
.m-replay:before {
  content: "\e042";
}
.m-replay_10:before {
  content: "\e059";
}
.m-replay_30:before {
  content: "\e05a";
}
.m-replay_5:before {
  content: "\e05b";
}
.m-reply:before {
  content: "\e15e";
}
.m-reply_all:before {
  content: "\e15f";
}
.m-report:before {
  content: "\e160";
}
.m-warning:before {
  content: "\e002";
}
.m-restaurant:before {
  content: "\e56c";
}
.m-restore_page:before {
  content: "\e929";
}
.m-ring_volume:before {
  content: "\e0d1";
}
.m-room_service:before {
  content: "\eb49";
}
.m-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.m-rotate_left:before {
  content: "\e419";
}
.m-rotate_right:before {
  content: "\e41a";
}
.m-rounded_corner:before {
  content: "\e920";
}
.m-router:before {
  content: "\e328";
}
.m-rowing:before {
  content: "\e921";
}
.m-rss_feed:before {
  content: "\e0e5";
}
.m-rv_hookup:before {
  content: "\e642";
}
.m-satellite:before {
  content: "\e562";
}
.m-save:before {
  content: "\e161";
}
.m-scanner:before {
  content: "\e329";
}
.m-school:before {
  content: "\e80c";
}
.m-screen_lock_landscape:before {
  content: "\e1be";
}
.m-screen_lock_portrait:before {
  content: "\e1bf";
}
.m-screen_lock_rotation:before {
  content: "\e1c0";
}
.m-screen_rotation:before {
  content: "\e1c1";
}
.m-screen_share:before {
  content: "\e0e2";
}
.m-sd_storage:before {
  content: "\e1c2";
}
.m-search:before {
  content: "\e8b6";
}
.m-security:before {
  content: "\e32a";
}
.m-select_all:before {
  content: "\e162";
}
.m-send:before {
  content: "\e163";
}
.m-sentiment_dissatisfied:before {
  content: "\e811";
}
.m-sentiment_neutral:before {
  content: "\e812";
}
.m-sentiment_satisfied:before {
  content: "\e813";
}
.m-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.m-sentiment_very_satisfied:before {
  content: "\e815";
}
.m-settings:before {
  content: "\e8b8";
}
.m-settings_applications:before {
  content: "\e8b9";
}
.m-settings_backup_restore:before {
  content: "\e8ba";
}
.m-settings_bluetooth:before {
  content: "\e8bb";
}
.m-settings_brightness:before {
  content: "\e8bd";
}
.m-settings_cell:before {
  content: "\e8bc";
}
.m-settings_ethernet:before {
  content: "\e8be";
}
.m-settings_input_antenna:before {
  content: "\e8bf";
}
.m-settings_input_composite:before {
  content: "\e8c1";
}
.m-settings_input_hdmi:before {
  content: "\e8c2";
}
.m-settings_input_svideo:before {
  content: "\e8c3";
}
.m-settings_overscan:before {
  content: "\e8c4";
}
.m-settings_phone:before {
  content: "\e8c5";
}
.m-settings_power:before {
  content: "\e8c6";
}
.m-settings_remote:before {
  content: "\e8c7";
}
.m-settings_system_daydream:before {
  content: "\e1c3";
}
.m-settings_voice:before {
  content: "\e8c8";
}
.m-share:before {
  content: "\e80d";
}
.m-shop:before {
  content: "\e8c9";
}
.m-shop_two:before {
  content: "\e8ca";
}
.m-shopping_basket:before {
  content: "\e8cb";
}
.m-short_text:before {
  content: "\e261";
}
.m-show_chart:before {
  content: "\e6e1";
}
.m-shuffle:before {
  content: "\e043";
}
.m-signal_cellular_4_bar:before {
  content: "\e1c8";
}
.m-signal_cellular_connected_no_internet_4_bar:before {
  content: "\e1cd";
}
.m-signal_cellular_null:before {
  content: "\e1cf";
}
.m-signal_cellular_off:before {
  content: "\e1d0";
}
.m-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.m-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.m-signal_wifi_off:before {
  content: "\e1da";
}
.m-sim_card:before {
  content: "\e32b";
}
.m-sim_card_alert:before {
  content: "\e624";
}
.m-skip_next:before {
  content: "\e044";
}
.m-skip_previous:before {
  content: "\e045";
}
.m-slideshow:before {
  content: "\e41b";
}
.m-slow_motion_video:before {
  content: "\e068";
}
.m-stay_primary_portrait:before {
  content: "\e0d6";
}
.m-smoke_free:before {
  content: "\eb4a";
}
.m-smoking_rooms:before {
  content: "\eb4b";
}
.m-textsms:before {
  content: "\e0d8";
}
.m-snooze:before {
  content: "\e046";
}
.m-sort:before {
  content: "\e164";
}
.m-sort_by_alpha:before {
  content: "\e053";
}
.m-spa:before {
  content: "\eb4c";
}
.m-space_bar:before {
  content: "\e256";
}
.m-speaker:before {
  content: "\e32d";
}
.m-speaker_group:before {
  content: "\e32e";
}
.m-speaker_notes:before {
  content: "\e8cd";
}
.m-speaker_notes_off:before {
  content: "\e92a";
}
.m-speaker_phone:before {
  content: "\e0d2";
}
.m-spellcheck:before {
  content: "\e8ce";
}
.m-star_border:before {
  content: "\e83a";
}
.m-star_half:before {
  content: "\e839";
}
.m-stars:before {
  content: "\e8d0";
}
.m-stay_primary_landscape:before {
  content: "\e0d5";
}
.m-stop:before {
  content: "\e047";
}
.m-stop_screen_share:before {
  content: "\e0e3";
}
.m-storage:before {
  content: "\e1db";
}
.m-store_mall_directory:before {
  content: "\e563";
}
.m-straighten:before {
  content: "\e41c";
}
.m-streetview:before {
  content: "\e56e";
}
.m-strikethrough_s:before {
  content: "\e257";
}
.m-style:before {
  content: "\e41d";
}
.m-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.m-subdirectory_arrow_right:before {
  content: "\e5da";
}
.m-subject:before {
  content: "\e8d2";
}
.m-subscriptions:before {
  content: "\e064";
}
.m-subtitles:before {
  content: "\e048";
}
.m-subway:before {
  content: "\e56f";
}
.m-supervisor_account:before {
  content: "\e8d3";
}
.m-surround_sound:before {
  content: "\e049";
}
.m-swap_calls:before {
  content: "\e0d7";
}
.m-swap_horiz:before {
  content: "\e8d4";
}
.m-swap_vert:before {
  content: "\e8d5";
}
.m-swap_vertical_circle:before {
  content: "\e8d6";
}
.m-switch_camera:before {
  content: "\e41e";
}
.m-switch_video:before {
  content: "\e41f";
}
.m-sync_disabled:before {
  content: "\e628";
}
.m-sync_problem:before {
  content: "\e629";
}
.m-system_update:before {
  content: "\e62a";
}
.m-system_update_alt:before {
  content: "\e8d7";
}
.m-tab:before {
  content: "\e8d8";
}
.m-tab_unselected:before {
  content: "\e8d9";
}
.m-tablet:before {
  content: "\e32f";
}
.m-tablet_android:before {
  content: "\e330";
}
.m-tablet_mac:before {
  content: "\e331";
}
.m-tap_and_play:before {
  content: "\e62b";
}
.m-text_fields:before {
  content: "\e262";
}
.m-text_format:before {
  content: "\e165";
}
.m-texture:before {
  content: "\e421";
}
.m-thumb_down:before {
  content: "\e8db";
}
.m-thumb_up:before {
  content: "\e8dc";
}
.m-thumbs_up_down:before {
  content: "\e8dd";
}
.m-timelapse:before {
  content: "\e422";
}
.m-timeline:before {
  content: "\e922";
}
.m-timer:before {
  content: "\e425";
}
.m-timer_10:before {
  content: "\e423";
}
.m-timer_3:before {
  content: "\e424";
}
.m-timer_off:before {
  content: "\e426";
}
.m-title:before {
  content: "\e264";
}
.m-toc:before {
  content: "\e8de";
}
.m-today:before {
  content: "\e8df";
}
.m-toll:before {
  content: "\e8e0";
}
.m-tonality:before {
  content: "\e427";
}
.m-touch_app:before {
  content: "\e913";
}
.m-toys:before {
  content: "\e332";
}
.m-track_changes:before {
  content: "\e8e1";
}
.m-traffic:before {
  content: "\e565";
}
.m-train:before {
  content: "\e570";
}
.m-tram:before {
  content: "\e571";
}
.m-transfer_within_a_station:before {
  content: "\e572";
}
.m-transform:before {
  content: "\e428";
}
.m-translate:before {
  content: "\e8e2";
}
.m-trending_down:before {
  content: "\e8e3";
}
.m-trending_flat:before {
  content: "\e8e4";
}
.m-trending_up:before {
  content: "\e8e5";
}
.m-tune:before {
  content: "\e429";
}
.m-tv:before {
  content: "\e333";
}
.m-unarchive:before {
  content: "\e169";
}
.m-undo:before {
  content: "\e166";
}
.m-unfold_less:before {
  content: "\e5d6";
}
.m-unfold_more:before {
  content: "\e5d7";
}
.m-update:before {
  content: "\e923";
}
.m-usb:before {
  content: "\e1e0";
}
.m-verified_user:before {
  content: "\e8e8";
}
.m-vertical_align_bottom:before {
  content: "\e258";
}
.m-vertical_align_center:before {
  content: "\e259";
}
.m-vertical_align_top:before {
  content: "\e25a";
}
.m-vibration:before {
  content: "\e62d";
}
.m-video_call:before {
  content: "\e070";
}
.m-video_label:before {
  content: "\e071";
}
.m-video_library:before {
  content: "\e04a";
}
.m-videocam:before {
  content: "\e04b";
}
.m-videocam_off:before {
  content: "\e04c";
}
.m-videogame_asset:before {
  content: "\e338";
}
.m-view_agenda:before {
  content: "\e8e9";
}
.m-view_array:before {
  content: "\e8ea";
}
.m-view_carousel:before {
  content: "\e8eb";
}
.m-view_column:before {
  content: "\e8ec";
}
.m-view_comfy:before {
  content: "\e42a";
}
.m-view_compact:before {
  content: "\e42b";
}
.m-view_day:before {
  content: "\e8ed";
}
.m-view_headline:before {
  content: "\e8ee";
}
.m-view_list:before {
  content: "\e8ef";
}
.m-view_module:before {
  content: "\e8f0";
}
.m-view_quilt:before {
  content: "\e8f1";
}
.m-view_stream:before {
  content: "\e8f2";
}
.m-view_week:before {
  content: "\e8f3";
}
.m-vignette:before {
  content: "\e435";
}
.m-visibility_off:before {
  content: "\e8f5";
}
.m-voice_chat:before {
  content: "\e62e";
}
.m-voicemail:before {
  content: "\e0d9";
}
.m-volume_down:before {
  content: "\e04d";
}
.m-volume_mute:before {
  content: "\e04e";
}
.m-volume_off:before {
  content: "\e04f";
}
.m-volume_up:before {
  content: "\e050";
}
.m-vpn_key:before {
  content: "\e0da";
}
.m-vpn_lock:before {
  content: "\e62f";
}
.m-wallpaper:before {
  content: "\e1bc";
}
.m-watch:before {
  content: "\e334";
}
.m-watch_later:before {
  content: "\e924";
}
.m-wb_auto:before {
  content: "\e42c";
}
.m-wb_incandescent:before {
  content: "\e42e";
}
.m-wb_iridescent:before {
  content: "\e436";
}
.m-wb_sunny:before {
  content: "\e430";
}
.m-wc:before {
  content: "\e63d";
}
.m-web:before {
  content: "\e051";
}
.m-web_asset:before {
  content: "\e069";
}
.m-weekend:before {
  content: "\e16b";
}
.m-whatshot:before {
  content: "\e80e";
}
.m-widgets:before {
  content: "\e1bd";
}
.m-wifi:before {
  content: "\e63e";
}
.m-wifi_lock:before {
  content: "\e1e1";
}
.m-wifi_tethering:before {
  content: "\e1e2";
}
.m-work:before {
  content: "\e8f9";
}
.m-wrap_text:before {
  content: "\e25b";
}
.m-youtube_searched_for:before {
  content: "\e8fa";
}
.m-zoom_in:before {
  content: "\e8ff";
}
.m-zoom_out:before {
  content: "\e901";
}
.m-zoom_out_map:before {
  content: "\e56b";
}
