<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
+wil-btn('a', {
	text: 'default'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>primary</span></div></div>
+wil-btn('a', {
	text: 'primary',
	modifier: 'primary'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>dark</span></div></div>
+wil-btn('a', {
	text: 'dark',
	modifier: 'dark'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>warning</span></div></div>
+wil-btn('a', {
	text: 'warning',
	modifier: 'warning'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>danger</span></div></div>
+wil-btn('a', {
	text: 'danger',
	modifier: 'danger'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>info</span></div></div>
+wil-btn('a', {
	text: 'info',
	modifier: 'info'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>success</span></div></div>
+wil-btn('a', {
	text: 'success',
	modifier: 'success'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>link</span></div></div>
+wil-btn('a', {
	text: 'link',
	modifier: 'link'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>disabled</span></div></div>
+wil-btn('a', {
	text: 'disabled',
	modifier: 'success',
	attr: {
		disabled: 'disabled'
	}
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>lg</span></div></div>
+wil-btn('a', {
	text: 'modifer lg',
	modifier: ['primary', 'lg']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>md</span></div></div>
+wil-btn('a', {
	text: 'modifer md',
	modifier: ['dark', 'md']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>sm</span></div></div>
+wil-btn('a', {
	text: 'modifer sm',
	modifier: ['warning', 'sm']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>xs</span></div></div>
+wil-btn('a', {
	text: 'modifer xs',
	modifier: ['success', 'xs']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>square</span></div></div>
+wil-btn('a', {
	text: 'modifer square',
	modifier: ['primary', 'square']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>round</span></div></div>
+wil-btn('a', {
	text: 'modifer round',
	modifier: ['dark', 'round']
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>pill</span></div></div>
+wil-btn('a', {
	text: 'modifer pill',
	modifier: ['warning', 'pill']
})

<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>block</span></div></div>
+wil-btn('a', {
	text: 'modifer block',
	modifier: ['square', 'block', 'md']
})
