@mixin useBase {
	body {
		font-size: 10px;
		-webkit-font-smoothing: antialiased;
	}

	%outline-none {
		outline: none;
	}

	a,
	input,
	button,
	textarea {
		&[disabled] {
			cursor: not-allowed !important;
			opacity: .5 !important;
		}
		&:focus {
			@extend %outline-none;
		}
	}
	[tabIndex] {
		@extend %outline-none;
	}
	p {
		margin-top: 0;
		margin-bottom: 10px;
	}
	img {
		max-width: 100%;
		height: auto;
		border: 0;
		vertical-align: middle;
	}

	input[type="checkbox"][disabled] {
		opacity: 0 !important;
	}
	
	.page-wrap {
		position: relative;
		overflow: hidden;
	}

	.wil-section {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		z-index: 9;
	}
	.wil-overlay {
		background-color: rgba($color-dark-1, .7);
		@include absFull(-1);
	}
	.list-none,
	.list-none ul,
	.list-none ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.disabled-scroll {
		position: fixed !important;
		left: 0;
		width: 100%;
		overflow-y: scroll;
	}
	.full-screnn {
		width: 100% !important;
		min-height: 100vh !important;
	}
}
