@mixin useDisplay {
	.wil-tb {
		display: table;
		width: 100%;
		height: 100%;
	}
	
	.wil-tb__cell {
		display: table-cell;
		vertical-align: middle;
	}

	/*Element Display*/
	.d-none {
		display: none !important;
	}
	
	.d-inline {
		display: inline !important;
	}
	
	.d-inline-block {
		display: inline-block !important;
	}
	
	.d-block {
		display: block !important;
	}
	
	.d-table {
		display: table !important;
	}
	
	.d-table-row {
		display: table-row !important;
	}
	
	.d-table-cell {
		display: table-cell !important;
	}
	
	.d-flex {
		display: flex !important;
	}
	
	.d-inline-flex {
		display: inline-flex !important;
	}

	.hide {
		display: none !important;
	}

	.xs-flex {
		display: flex !important;
	}

	@include media('>=sm') {
		.sm-flex {
			display: flex !important;
		}
	}
	@include media('>=md') {
		.md-flex {
			display: flex !important;
		}
	}
	@include media('>=lg') {
		.lg-flex {
			display: flex !important;
		}
	}

	@include media('<sm') {
		.sm-hide {
			display: none !important;
		}
	}
	@include media('<md') {
		.md-hide {
			display: none !important;
		}
	}
	@include media('<lg') {
		.lg-hide {
			display: none !important;
		}
	}
	.show {
		display: block !important;
	}
	@include media('<sm') {
		.sm-show {
			display: block !important;
		}
	}
	@include media('<md') {
		.md-show {
			display: block !important;
		}
	}
	@include media('<lg') {
		.lg-show {
			display: block !important;
		}
	}
}
