-
	var social = [
		{
			icon: 'fa fa-facebook',
			text: 'facebook'
		},
		{
			icon: 'fa fa-twitter',
			text: 'twitter'
		},
		{
			icon: 'fa fa-pinterest',
			text: 'pinterest'
		},
		{
			icon: 'fa fa-flickr',
			text: 'flickr'
		},
		{
			icon: 'fa fa-dribbble',
			text: 'dribbble'
		},
		{
			icon: 'fa fa-google-plus',
			text: 'google +'
		},
		{
			icon: 'fa fa-youtube-play',
			text: 'youtube'
		},
		{
			icon: 'fa fa-instagram',
			text: 'instagram'
		},
		{
			icon: 'fa fa-bitbucket',
			text: 'bitbucket'
		},
		{
			icon: 'fa fa-dropbox',
			text: 'dropbox'
		},
		{
			icon: 'fa fa-reddit',
			text: 'reddit'
		},
		{
			icon: 'fa fa-foursquare',
			text: 'foursquare'
		},
		{
			icon: 'fa fa-github',
			text: 'github'
		},
		{
			icon: 'fa fa-gittip',
			text: 'gittip'
		},
		{
			icon: 'fa fa-linkedin',
			text: 'linkedin'
		},
		{
			icon: 'fa fa-envelope',
			text: 'envelope'
		},
		{
			icon: 'fa fa-renren',
			text: 'renren'
		},
		{
			icon: 'fa fa-trello',
			text: 'trello'
		},
		{
			icon: 'fa fa-tumblr',
			text: 'tumblr'
		},
		{
			icon: 'fa fa-vk',
			text: 'vk'
		},
		{
			icon: 'fa fa-weibo',
			text: 'weibo'
		},
		{
			icon: 'fa fa-xing',
			text: 'xing'
		}
	]
