<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'border'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'border'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'style2'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'color'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'color'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'hoverBgColor'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'hoverBgColor'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'bgColor'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'bgColor'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'bgDark'</span></div></div>
//- Args: icon, enableText, text
+coreSocial({
	modifier: 'bgDark'
})
