<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: image, title, text
+coreImagetextoverlay({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'fitHeight'</span></div></div>
//- Args: image, title, text
+coreImagetextoverlay({
	modifier: 'fitHeight'
})
