-	
	var menu = [
		{
			text: 'Home',
			url: 'index.html'
		},
		{
			text: 'Work',
			url: 'work.html',
			submenu: [
				{
					text: 'Work 1',
					url: 'work.html',
					submenu: [
						{
							text: 'Work 1',
							url: 'work.html',
						},
						{
							text: 'Work 2',
							url: 'work.html',
						},
						{
							text: 'Work 3',
							url: 'work.html',
						}
					]
				},
				{
					text: 'Work 2',
					url: 'work.html',
					submenu: [
						{
							text: 'Work 1',
							url: 'work.html',
						},
						{
							text: 'Work 2',
							url: 'work.html',
						},
						{
							text: 'Work 3',
							url: 'work.html',
						}
					]
				},
				{
					text: 'Work 3',
					url: 'work.html',
				}
			]
		},
		{
			text: 'Journal',
			url: 'blog.html',
			submenu: [
				{
					text: 'Journal 1',
					url: 'work.html',
					submenu: [
						{
							text: 'Journal 1',
							url: 'work.html',
						},
						{
							text: 'Journal 2',
							url: 'work.html',
						},
						{
							text: 'Journal 3',
							url: 'work.html',
						}
					]
				},
				{
					text: 'Journal 2',
					url: 'work.html',
				},
				{
					text: 'Journal 3',
					url: 'work.html',
					submenu: [
						{
							text: 'Journal 1',
							url: 'work.html',
						},
						{
							text: 'Journal 2',
							url: 'work.html',
						},
						{
							text: 'Journal 3',
							url: 'work.html',
						}
					]
				}
			]
		},
		{
			text: 'Contact',
			url: 'contact.html'
		}
	]
