<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: avatar, text, name, work
+coreQuote({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style2'</span></div></div>
//- Args: avatar, text, name, work
+coreQuote({
	modifier: 'style2'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'style3'</span></div></div>
//- Args: avatar, text, name, work
+coreQuote({
	modifier: 'style3'
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'textItalic'</span></div></div>
//- Args: avatar, text, name, work
+coreQuote({
	modifier: 'textItalic'
})
