/* //--- coreSwiper
--------------------------------------------------------------------------------*/

:global {
	.swiper__module {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}

	// loading skeleton
	.swiper-skeleton {
		.swiper__inner:not(.swiper-container-horizontal) {
			.swiper-wrapper {
				> * {
					background-color: #eee;
					* {
						opacity: 0 !important;
					}
				}
			}
			~ .swiper-pagination-custom,
			~ .swiper-button-custom {
				display: none;
			}
		}
		@mixin slideCal($breakpoint, $i) {
			$width: 100 / $i * 1%;
			&[data-#{$breakpoint}-slide="#{$i}"] {
				> :not(.swiper-container-horizontal) {
					.swiper-wrapper {
						> * {
							width: $width;
							&:nth-child(#{$i}) ~ * {
								display: none;
							}
						}
					}
				}
				@for $j from 2 through 5 {
					$gap: $j * 10;
					&[data-gap="#{$gap}"] {
						> :not(.swiper-container-horizontal) {
							.swiper-wrapper {
								margin-left: -#{$gap / 2}px;
								margin-right: -#{$gap / 2}px;
								width: auto;
								> * {
									width: calc(#{$width} - #{$gap}px);
									margin-left: #{$gap / 2}px;
									margin-right: #{$gap / 2}px;
								}
							}
						}
					}
				}
			}
		}
		@for $i from 1 through 6 {
			@include media('<=sm') {
				@include slideCal('default', $i);
			}
			@include media('>lg') {
				@include slideCal('1200', $i);
			}
			@include media('>md', '<=lg') {
				@include slideCal('992', $i);
			}
			@include media('>sm', '<=md') {
				@include slideCal('768', $i);
			}
		}
	}

	// pagination style
	.swiper-pagination-bullets {
		padding-bottom: 0;
		text-align: center;
		position: relative;
		bottom: 3px;
		z-index: 9999;
		margin: 0;
		.swiper-pagination-bullet {
			width: 9px;
			height: 9px;
			border-radius: 50%;
			margin: 0 3px;
			opacity: 1;
			background-color: $color-gray-1;
			transition: all 0.3s ease;
			vertical-align: middle;
		}
		.swiper-pagination-bullet-active {
			background-color: $color-primary;
		}
	}
	.swiper-pagination-bullet {
		cursor: pointer;
	}
	.swiper-pagination-inner {
		.swiper-pagination-bullets {
			position: absolute;
			bottom: 5px;
			.swiper-pagination-bullet {
				opacity: 0.5;
				background-color: #fff;
			}
			.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
		.swiper-pagination-bullets-dynamic {
			left: 0;
			right: 0;
		}
	}
	.swiper-pagination-bullets-dynamic {
		margin: auto;
		white-space: nowrap;
	}
	
	// navigation style
	.swiper-button-custom > div {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		background-color: $color-light;
		box-shadow: 0 2px 4px 0 rgba(#000 ,0.2);
		color: $color-dark-2;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
		i {
			font-size: 20px;
			text-align: center;
			@include size(40px);
			&:before {
				line-height: inherit;
			}
		}
		&.swiper-button-prev-custom {
			left: 0;
		}
		&.swiper-button-next-custom {
			right: 0;
		}
		&.swiper-button-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
	.swiper-button-custom--style2 {
		.swiper-button-custom > div {
			transform: none;
			top: 0;
			bottom: 0;
			width: 80px;
			background: none;
			box-shadow: none;
			border-radius: 0;
			color: #fff;
			i {
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				font-size: 36px;
			}
			&.swiper-button-prev-custom {
				left: 20px;
				background-image: linear-gradient(-90deg, transparent 0%, rgba(#000,0.35) 100%);
			}
			&.swiper-button-next-custom {
				right: 20px;
				background-image: linear-gradient(90deg, transparent 0%, rgba(#000,0.35) 100%);
				i {
					left: auto;
					right: 0; 
				}
			}
		}
	}
	.is-mobile {
		.swiper-button-mobile-disable {
			.swiper-button-custom {
				display: none !important;
			}
		}
	}
}
