<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>default</span></div></div>
//- Args: gallery
+coreGallery({
	
})
<div class="wil-core-space"><span></span><div class="wil-text-modifier"><span>modifier: 'round'</span></div></div>
//- Args: gallery
+coreGallery({
	modifier: 'round'
})
