/* //--- base
--------------------------------------------------------------------------------*/

:global {
	body {
		-webkit-font-smoothing: antialiased;
	}
	a,
	input,
	button,
	textarea {
		&[disabled] {
			cursor: not-allowed !important;
			opacity: .5 !important;
		}
		&:focus {
			outline: none;
		}
	}
	p {
		margin-top: 0;
		margin-bottom: 10px;
	}
	img {
		max-width: 100%;
		height: auto;
		border: 0;
	}
	.wil-skin-dark {
		h1,h2,h3,h4,h5,h6 {
			color: #fff;
		}
		* {
			color: rgba(#fff, .8);
		}
	}

	input[type="checkbox"][disabled] {
		opacity: 0 !important;
	}
	
	.page-wrap {
		position: relative;
		overflow: hidden;
	}

	.wil-section {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		z-index: 9;
		@include pfs('padding-top, padding-bottom', (
			320px: 50px,
			1200px: 110px
		))
	}

	.wil-text-left,
	.text-left {
		text-align: left !important;
	}

	.rtl .wil-text-left,
	.rtl .text-left {
		text-align: right !important;
	}

	.wil-text-center,
	.text-center {
		text-align: center !important;
	}

	.wil-text-right,
	.text-right {
		text-align: right !important;
	}

	.rtl .wil-text-right,
	.rtl .text-right {
		text-align: left !important;
	}

	.wil-text-underline {
		text-decoration: underline !important;
	}

	.wil-overlay {
		background-color: rgba($color-dark-1, .7);
		@include absFull(-1);
	}
	
	.list-none {
		margin: 0;
		padding: 0;
		list-style: none;
		ul, ol {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	.text-ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.text-ellipsis-mode-none {
		.text-ellipsis {
			overflow: unset;
			text-overflow: unset;
			white-space: normal;

			&.website {
				word-break: break-all;
			}
		}
	}

	/*col clear*/
	.col-lg-6-clear {
		&:nth-child(odd) {
			@include media('>=lg') {
				clear: left;
			}
		}
		&:nth-child(even) {
			@include media('>=lg') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-lg-6-clear {
			&:nth-child(odd) {
				@include media('>=lg') {
					clear: right;
				}
			}
			&:nth-child(even) {
				@include media('>=lg') {
					clear: left;
				}
			}
		}
	}

	.col-md-6-clear {
		&:nth-child(odd) {
			@include media('>=md') {
				clear: left;
			}
		}
		&:nth-child(even) {
			@include media('>=md') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-md-6-clear {
			&:nth-child(odd) {
				@include media('>=md') {
					clear: right;
				}
			}
			&:nth-child(even) {
				@include media('>=md') {
					clear: left;
				}
			}
		}
	}

	.col-sm-6-clear {
		&:nth-child(odd) {
			@include media('>=sm') {
				clear: left;
			}
		}
		&:nth-child(even) {
			@include media('>=sm') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-sm-6-clear {
			&:nth-child(odd) {
				@include media('>=sm') {
					clear: right;
				}
			}
			&:nth-child(even) {
				@include media('>=sm') {
					clear: left;
				}
			}
		}
	}

	.col-lg-4-clear {
		&:nth-child(3n-2) {
			@include media('>=lg') {
				clear: left;
			}
		}
		&:nth-child(3n+3) {
			@include media('>=lg') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-lg-4-clear {
			&:nth-child(3n-2) {
				@include media('>=lg') {
					clear: right;
				}
			}
			&:nth-child(3n+3) {
				@include media('>=lg') {
					clear: left;
				}
			}
		}
	}

	.col-md-4-clear {
		&:nth-child(3n-2) {
			@include media('>=md') {
				clear: left;
			}
		}
		&:nth-child(3n+3) {
			@include media('>=md') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-md-4-clear {
			&:nth-child(3n-2) {
				@include media('>=md') {
					clear: right;
				}
			}
			&:nth-child(3n+3) {
				@include media('>=md') {
					clear: left;
				}
			}
		}
	}

	.col-sm-4-clear {
		&:nth-child(3n-2) {
			@include media('>=sm') {
				clear: left;
			}
		}
		&:nth-child(3n+3) {
			@include media('>=sm') {
				clear: right;
			}
		}
	}

	.rtl {
		.col-sm-4-clear {
			&:nth-child(3n-2) {
				@include media('>=sm') {
					clear: right;
				}
			}
			&:nth-child(3n+3) {
				@include media('>=sm') {
					clear: left;
				}
			}
		}
	}

	.scroll-x {
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.scroll-x__content {
		display: inline-block;
		white-space: nowrap;
	}
	[class*="arrow--right-"],
	[class*="arrow--bottom-"],
	[class*="arrow--top-"] {
		&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: 6px solid transparent;
		}
	}

	.arrow--top--left {
		&:before {
			border-bottom-color: $color-light;
			left: 8px;
			top: -12px;
		}
	}

	.rtl {
		.arrow--top--left {
			&:before {
				left: auto;
				right: 8px;
			}
		}
	}
	.arrow--top-right {
		&:before {
			border-bottom-color: $color-light;
			right: 8px;
			top: -12px;
		}
	}

	.rtl {
		.arrow--top-right {
			&:before {
				right: auto;
				left: 8px;
			}
		}
	}
	.arrow--bottom-left {
		&:before {
			border-top-color: $color-light;
			left: 8px;
			bottom: -12px;
		}
	}

	.rtl {
		.arrow--bottom-left {
			&:before {
				left: auto;
				right: 8px;
			}
		}
	}
	.arrow--bottom-right {
		&:before {
			border-top-color: $color-light;
			right: 8px;
			bottom: -12px;
		}
	}

	.rtl {
		.arrow--bottom-right {
			&:before {
				right: auto;
				left: 8px;
			}
		}
	}
	.arrow--right-center {
		&:before {
			border-right-color: $color-light;
			margin: auto;
			top: 0;
			bottom: 0;
			left: -12px;
		}
	}

	.rtl {
		.arrow--right-center {
			&:before {
				left: auto;
				right: -12px;
			}
		}
	}

	.disabled-scroll {
		position: fixed !important;
		top: 0 !important;
		left: 0;
		width: 100%;
		overflow-y: scroll;
	}

	
}
