:global {

	.wil-round {
		border-radius: 5px !important;
	}

	.wil-pill {
		border-radius: 50% !important;
	}
	
	/*Border radius 50%*/
	.rounded-circle {
		border-radius: 50% !important;
	}

	/*Border radius 0px*/
	.rounded-0 {
		border-radius: 0px !important;
	}

	/*Border radius 2px*/
	.rounded-2 {
		border-radius: 2px !important;
	}

	/*Border radius 3px*/
	.rounded-3 {
		border-radius: 3px !important;
	}

	/*Border radius 5px*/
	.rounded-5 {
		border-radius: 5px !important;
	}

}
