@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Medium.eot');
    src: url('fonts/Jost-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Jost-Medium.woff2') format('woff2'),
        url('fonts/Jost-Medium.woff') format('woff'),
        url('fonts/Jost-Medium.ttf') format('truetype'),
        url('fonts/Jost-Medium.svg#Jost-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('fonts/Jost-Book.eot');
    src: url('fonts/Jost-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Jost-Book.woff2') format('woff2'),
        url('fonts/Jost-Book.woff') format('woff'),
        url('fonts/Jost-Book.ttf') format('truetype'),
        url('fonts/Jost-Book.svg#Jost-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

